main {
    min-height: 80vh;
}

h3 {
    padding-top: .55rem;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1rem;
    padding: 0.5rem 0;
}

.add-cart-btn {
    width: 100%;
}